{% load static %}
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <title>Jamie's Online Portfolio</title>
     </head>
     <body>
        <div>
        <h1>
        Jamie's Online Portfolio
        </h1>
        <hr>
        </div>
        <p><h4>This is the newer version of the site where I show off my Python projects!</h4></p>
        <div class="alert alert-warning">Under construction: Come back soon</div>
        <p>Welcome! I'm very excited to present some of my creations here.</p>
        {% block content %}

        <div class="container">
            <h1>Projects</h1>
            <div class="row">
            {% for project in projects %}
                <div class="col-md-4">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{% static project.image %}" alt="{{ project.description }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endblock %}
        </body>

</html>